.post {
  border-radius: 15px;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.08);
  img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  &-content {
    padding: 30px 40px;
  }
  &-name {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    &:hover {
      color: #3b71fe;
    }
  }
  &-desc {
    min-height: 80px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  &-info {
    display: flex;
    align-items: center;
    &-image {
      width: 50px;
      height: 50px;
      margin-right: 16px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
    &-author {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      padding-right: 16px;
      span {
        color: #727272;
        margin-right: 4px;
      }
    }
    &-date {
      padding-left: 16px;
      border-left: 1px solid #c5c5c5;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #727272;
    }
  }
}
